@import "./root.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: Manrope;
  font-weight: 400;
}

body {
  background: var(--background);
}

nav {
  display: block;
  width: 80%;
  margin-inline: auto;
  border: 2px solid blue;
}

#logo {
  margin-top: 2rem;
  margin-right: 10rem;
}

#home,
#menu,
#recompensas,
#giftCards {
  margin-right: 2rem;
}

button {
  background-color: var(--button);
  margin-left: 10rem;
}

h2 {
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

#blur1 {
  position: absolute;
  top: 8.7%;
  left: 0;
}

#coffee {
  position: relative;
  top: 6.6rem;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

#blur2 {
  position: absolute;
  top: -15%;
  left: 53%;
}
